header {
    position: fixed;
    top: 0;
    height: 7vh;
}

div.maincontent {
    display: flex;
    position: relative;
    top: 12vh;
    height: 78vh;
    align-items: center;
}

div.photo_descrpt {
    min-width: 320px;
    padding: 5vh 1vw;
    background-color: #222222;
    margin: 0 1vw;
}

h2.descrpt_title {
    margin-top: 0;
}


#bb_img {
    width: 97vw;
    padding: 0 1.5vw;
}

footer {
    position: fixed;
    bottom: 0;
}