@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display&display=swap');

/*variables*/
/*
bg = background
tc = text color
*/
* {
    --site-bgc: #292929;
    --darker-bgc: #111111;
    --main-tc: #f0f0f0;
    --middle-tc: #bdbdbd;
    --darker-tc: #616161;
}

/*css clear*/
body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*start templete css*/


body {
    background-color: var(--site-bgc);
    color: var(--main-tc);
    font: 1.2rem "Crimson Text";
    scrollbar-color: dark;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header, div.sitelogo, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    flex-direction: row;
    padding: 1vh 0;
    height: 7vh;
    background-color: var(--darker-bgc);
    box-sizing: border-box;
}

div.sitelogo {
    display: inline-block;
}


img.sitelogo {
    transition: all 150ms;
    width: 20vw;
    padding: 10px;
    min-width: 100px;
    max-height: 75px;
    background-color: rgba(0, 0, 0, 0);
}

img.sitelogo:hover {
    transition: all 250ms;
    background-color: rgba(0, 0, 0, 0.025);
    width: 20vw;
}

img.sitelogo:active {
    transition: all 250ms;
    width: 20vw;
}

h1, h2, h3, h4, h5, h6 {
    font: 400 normal 2.2rem "Playfair Display";
}

div.maincontent {
    margin: 32px 0;
    
}


footer {
    color: var(--darker-tc);
    font-size: 0.9rem;
    height: 4vh;
}

p.footer {
    margin: 5px 0;
}

@media(max-width: 800px) {
    
}
