@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display&display=swap');

/*variables*/
/*
bg = background
tc = text color
*/
* {
    --site-bgc: #292929;
    --darker-bgc: #111111;
    --main-tc: #f0f0f0;
    --middle-tc: #bdbdbd;
    --darker-tc: #616161;
}

/*css clear*/
body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*start templete css*/


body {
    background-color: var(--site-bgc);
    color: var(--main-tc);
    font: 1.2rem "Crimson Text";
    scrollbar-color: dark;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header, div.headercontent, div.mainheader, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    flex-direction: row;
    padding: 1vh 0;
    height: 7vh;
    background-color: var(--darker-bgc);
}

div.sitelogo {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
}


img.sitelogo {
    transition: all 150ms;
    width: 20vw;
    padding: 10px;
    min-width: 100px;
    max-height: 75px;
}

img.sitelogo:hover {
    transition: all 250ms;
    background-color: rgba(0, 0, 0, 0.025);
    width: 20vw;
}

img.sitelogo:active {
    transition: all 250ms;
    width: 20vw;
}

.nav_link {
    transition: all 125ms;
    color: var(--main-tc);
/*
    border: rgba(0, 0, 0, 0) solid 1px;
    box-sizing: border-box;
    height: 6vh;
    width: 10vw;
    min-height: 40px;
    max-height: 80px;
    min-width: 120px;
    max-width: 200px;
*/
    flex-direction: column;
    font-size: 1.5rem;
    font-family: "Playfair Display";
}


.nav_link:hover {
    transition: all 200ms;
    color: var(--middle-tc);
/*    border: #111111 solid 1px;*/
}

.nav_link:active {
    transition: all 200ms;
    color: var(--darker-tc);
/*
    background-color: #111111;
    border: #111111 solid 1px;
*/
}

.selected {
    color: var(--middle-tc);
}

ul.nav_main {
    display: flex;
    flex-direction: row;
    text-align: justify;
    column-count: 4;
    margin: 0px;
    padding: 0px;
    column-gap: 4vw;
}

.nav_mobl {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font: 400 normal 2.2rem "Playfair Display";
}

footer {
    color: var(--darker-tc);
    font-size: 0.9rem;
    height: 4vh;
}

p.footer {
    margin: 5px 0;
}
